[submodule "demo/third_party/json"]
	path = demo/third_party/json
	url = git@github.com:nlohmann/json.git
[submodule "demo/third_party/easywsclient"]
	path = demo/third_party/easywsclient
	url = git@github.com:dhbaird/easywsclient.git
[submodule "defi-wallet-core-rs"]
	path = defi-wallet-core-rs
	url = git@github.com:crypto-com/defi-wallet-core-rs.git
