# Table of contents

* [Getting Started](README.md)
  * [Pre-Build Download](getting-started/pre-build-download.md)
  * [Requirements](getting-started/requirements.md)
  * [Setup in any other c++ 14 (or newer) projects](getting-started/setup-in-any-other-c++-14-or-newer-projects.md)
  * [Build libraries and bindings from scratch](getting-started/build-libraries-and-bindings-from-scratch.md)
  * [Setup in a demo Visual C++ project](getting-started/setup-in-a-demo-visual-c++-project.md)
* [Cronos Play C++ SDK Reference](<README (1).md>)
  {{doxygen}}
* [Cronos Play](https://cronos.org/play)
